/* CSS de base */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

p {
  font-family: "Poppins", sans-serif;
  color: #eef1ef;
}

body {
  background-color: #0e131f;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#d639ce, #7f7979);
  clip-path: circle(20% at 0 0);
  z-index: -1;
}

/* ---------------------------------------------------------------------- */

/* En-tête de page */

header .top-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .top-page img {
  margin-top: 18px;
  width: 75px;
  pointer-events: none;
}

header .top-page h2 {
  font-size: 2.8em;
  font-family: "Press Start 2P", cursive;
  color: #eef1ef;
  margin-top: 25px;
  text-shadow: 0px 0px 10px #eef1ef;
}

header .top-page .texte1 {
  font-size: 1.5em;
  margin-top: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

header .top-page .texte2 {
  font-weight: bold;
  letter-spacing: 1px;
}

/* ---------------------------------------------------------------------- */

/* Partie Choix */

.choix .boite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

/* Partie Choix // Carte Glass */

.choix .boite .boite-carte {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  margin-top: 20px;
}

.choix .boite .boite-carte .carte {
  position: relative;
  width: 250px;
  height: 100px;
  margin: 15px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.choix .boite .boite-carte .carte span {
  position: absolute;
  top: -7px;
  left: 7px;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.choix .boite .boite-carte .carte h2 {
  position: absolute;
  font-size: 1.5em;
  text-align: center;
  pointer-events: none;
  font-family: "Press Start 2P", cursive;
  color: #eef1ef;
  transition: 0.5s;
}

.choix .boite .boite-carte .carte:hover h2 {
  color: #0e131f;
}

/* ---------------------------------------------------------------------- */

/* Footer = Réseaux */

footer {
  margin-top: 35px;
}

footer .boite1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .boite1 .boite-reseaux {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .boite1 .boite-reseaux ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .boite1 .boite-reseaux li {
  margin: 20px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 162px;
  background: #0e131f;
  box-shadow: 5px 5px 8px #070a10, -5px -5px 8px #151d2f;
}

footer .boite1 .boite-reseaux li:hover {
  box-shadow: inset 5px 5px 8px #070a10, inset -5px -5px 8px #151d2f;
}

footer .boite1 .boite-reseaux ul li a {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 125px;
}

footer .boite1 p {
  color: #eef1ef;
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.9em;
}

/* Couleur des différents réseaux */

footer .boite1 .boite-reseaux ul li:nth-child(1) a {
  color: #dd2a7b;
}

footer .boite1 .boite-reseaux ul li:nth-child(2) a {
  color: #0080f7;
}

footer .boite1 .boite-reseaux ul li:nth-child(3) a {
  color: #f70000;
}

/* ---------------------------------------------------------------------- */

/* CSS Responsive */

/* Responsive Mobile vers Ordi */

@media screen and (min-width: 900px) {
  header .top-page img {
    width: 100px;
  }

  header .top-page h2 {
    font-size: 5em;
  }

  header .top-page .texte1 {
    font-size: 2.5em;
  }

  header .top-page .texte2 {
    font-size: 1.5em;
  }

  footer {
    margin-top: 100px;
  }

  footer .boite1 .boite-reseaux li {
    margin: 25px;
    height: 75px;
    width: 75px;
  }

  footer .boite1 p {
    font-size: 1.3em;
  }
}

/* ---------------------------------------------------------------------- */
